<!DOCTYPE html>
<html>
    <head>
        <title> Navigation bar </title>
        <link rel="stylesheet"  href="stylesheet1.css"> 
    </head>
    <body>
    <div id="Maindiv">
        <div id="navDiv"> 
        <ul> 
            <p> Northern Valley Vineyards </p> 
            <li><a href="#"> Contact</a> </li>
            <li><a href="#"> Shop</a> </li>
            <li><a href="#"> About</a> </li>
            <li><a href="#"> Home</a> </li>
        </ul>
    </div>
</head>

<body>

    {{{body}}}

</body>
</html>